/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* min-height: 3000px;
  min-width: 3000px; */
  min-height: 750px;
  min-width: 750px;
}

.carousel-container {
  /* width: 2500px;
  height: 2500px; */
  width: 625px;
  height: 625px;
  position: relative;
}

.nav-arrow {
  position: absolute;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100px;
}

#right-arrow {
  left: 650px;
  top: 300px;
  /* left: 2600px;
  top: 1200px; */
}

#left-arrow {
 /* right: 2600px;
 top: 1200px; */
  right: 650px;
  top: 300px;
}

img {
  /* width: 2500px;
  height: 2500px; */
  width: 625px;
  height: 625px;
  display: none;
  background-clip: content-box;
  border: 2px solid black;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  /* border-radius: 79% 21% 57% 43% / 31% 22% 78% 69% ; */
}

#image-nav-circle-container {
  display: flex;
  /* gap: 50px; */
  gap: 7.5px;
  position: absolute;
  /* top: 2600px;
  left: 500px; */
  top: 650px;
  left: 150px;
}

.nav-circle {
  /* width: 60px;
  height: 60px; */
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 1s;
}

/* USER INTERACTION */
.nav-arrow:hover {
  border-color: black;
}

.image-not-selected {
  background-color: white;
}

.image-selected {
  background-color: black;
}